= form_for([@submit.test,@submit],html: { multipart: true, class: "form-horizontal" }) do |f|
  - if @submit.errors.any?
    #error_explanation
      %h2
        = pluralize(@submit.errors.count, "error")
        prohibited this submit from being saved:
      %ul
        - @submit.errors.full_messages.each do |message|
          %li= message
  .form-group
    .col-md-3
      = f.label :title
      %br
        = f.text_field :title,placeholder: 'Title of the test',class: 'form-control'
  .form-group
    .col-md-3
      = f.label :code, 'Solution'
      %br
        = f.file_field :code,class: 'left'
  .form-group
    = f.submit class: 'btn btn-primary left'
:javascript
  $(document).ready(function () {
    $("#new_submit").validate({
      debug: false,
      rules: {
        "submit[title]": { required: true},
        "submit[code]": { required: true},
        },
        messages: {
        "submit[title]": "Please enter the Title.",
        "submit[code]": "Please choose the code.",
        }
      });
  });