<p id="notice"><%= notice %></p>

<h1>List of codes Submited</h1>
<%=link_to 'Back',level_tests_path(@test.level),class: 'btn btn-primary'%>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Code</th>
      <% if admin_signed_in? %>
         <th>Action<th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submits.each do |submit| %>
      <tr>
        <td><%= submit.user.name %></td>
        <td><%= submit.title %></td>
        <td><%=link_to 'download',submit.code_url,class: 'btn btn-primary'%></td>
       <% if admin_signed_in? %>
        <td><%= link_to 'Destroy', [submit.test,submit], method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' %></td>
       <% end %> 
      </tr>
     <%end %> 
    
  </tbody>
</table>

<br>

