<!DOCTYPE html>
<html>
<head>
  <title>TrainingManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//cdn.ckeditor.com/4.4.7/full-all/ckeditor.js"></script>
</head>
<body>
<div id="wrapper">
   <div id="header">
     <%= render 'layouts/header' %><br><br>
   </div>
<div id="content">
   <% flash.each do |message_type, message| %>
     <div class="alert alert-<%= message_type %>"><%= message %></div>
   <% end %>
   <%= yield %>
 </div>
 </div>
</body>
</html>

<script>
$(".alert" ).delay(5000).slideUp(1000);
</script>
